pandas>=1.2.5
numpy==1.19.2
h5py~=3.1.0
gast==0.2.2
tensorboard==2.0.0
tensorflow-estimator==2.0.0
fastparquet>=0.7.0
scikit-learn>=0.24.2
Keras>=2.4.3
xgboost>=1.4.2
matplotlib>=3.4.2
tensorflow-cpu
